body {
    margin-top: 100px;
}

nav li a:hover {
    font-weight: bold;
    background-color: indianred;
    cursor: pointer;
}

nav li a.active {
    border-radius: 15px;
    background-color: yellowgreen;
    cursor: pointer;
}

nav li a {
    min-width: 90px;
}